@model IEnumerable<SensorData.Models.Frequency>

@{
    ViewData["Title"] = "ViewTable";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sensorSpot = 2;
    DateTime PegaHoraBrasilia() => TimeZoneInfo.ConvertTime(DateTime.Now, TimeZoneInfo.FindSystemTimeZoneById("E. South America Standard Time"));
    var dateTimeNow = PegaHoraBrasilia().ToLocalTime();

}

<h2>Tabela</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sensor_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frl1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frl2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frl3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(t => t.ReadDateTime >= dateTimeNow.AddHours(-24)).Where(t => t.Sensor_Id == sensorSpot).OrderByDescending(o => o.ReadDateTime).ToList())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sensor_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Frl1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Frl2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Frl3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReadDateTime)
                </td>

            </tr>
        }
    </tbody>
</table>
<div class="btn-toolbar mb-2 mb-md-0">
    <p>
        <a asp-action="Index">Gráfico</a>
    </p>
</div>
