@model IEnumerable<SensorData.Models.Sensor>

@{
    ViewData["Title"] = "Index";
}

<h1>Calibração</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ar1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ar2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ar3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.H2o1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.H2o2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.H2o3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ar1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ar2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ar3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.H2o1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.H2o2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.H2o3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalDateTime)
            </td>
@*            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
